{% for product in products %}
<div class="card bg-base-100 w-96 shadow-xl border border-gray-200 mx-auto mb-4">
    <figure class="bg-base-200">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="h-52 w-full object-cover" />
        {% else %}
            <div class="h-52 w-full flex items-center justify-center text-base-content/20 font-bold italic">
                No image
            </div>
        {% endif %}
    </figure>

    <div class="card-body p-4">
        <h2 class="card-title text-sm font-bold h-10 overflow-hidden line-clamp-2">{{ product.name }}</h2>
        
        <div class="flex justify-between items-center mt-1">
            <span class="text-lg font-bold text-primary">${{ product.price }}</span>
            <span class="text-xs badge {% if product.stock_qty > 0 %}badge-ghost{% else %}badge-error text-white{% endif %} font-bold">
                {% if product.stock_qty > 0 %}Stock: {{ product.stock_qty }}{% else %}Out of stock{% endif %}
            </span>
        </div>

        <div class="card-actions justify-end items-center mt-4 flex flex-row flex-nowrap gap-2">
            <button class="btn btn-neutral btn-sm"
                    hx-get="{% url 'sales:product_detail_modal' product.pk %}"
                    hx-target="#modal-container"
                    hx-swap="innerHTML">
                View details
            </button>

            <div id="cart-control-{{ product.id }}" class="contents">
                {% include "sales/partials/_cart_control.html" with product=product item=product.cart_item %}
            </div>
        </div>
    </div>
</div>
{% endfor %}